{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>

            <h2>Find your ideal ski resort and ski pass </h2>
                <p>
                    This website does uses content-based filtering to match skiers/riders with resorts that would be the most similar to resorts that they know they like. The website pools together data about over 5,000 ski resorts. The data includes information about the snow quality, altitude, pricing, locations, apres ski etc
                </p>
    <img src="{{url_for('static', filename='image.jpg' )}}" width="900" height="600" />



{% endblock content  %}


