{% extends "layout.html" %}
{% block content %}

    <h1>About Page</h1>
            <p style="border: 1px solid black"> </p>
            <h2>Find your ideal ski resort and ski pass </h2>
                <p>
                    This website does uses content-based filtering to match skiers/riders with resorts that would be the most similar to resorts that they know they like. The website pools together data about over 5,000 ski resorts. The data includes information about the snow quality, altitude, pricing, locations, apres ski etc
                </p>
    <img src="{{url_for('static', filename='ski_resort_price_altitude.png' )}}" width="500" height="400" align="middle" />
                    <p>
                    This plot demonstrates a correlation between the price, altitude and ski resort size.
                </p>
    <img src="{{url_for('static', filename='Plot1B.png' )}}" width="750" height="500" align="middle"/>
                    <p>
                    This plot demonstrates a correlation between the price, altitude and ski resort size.
                </p>


{% endblock content  %}


