{% extends "layout2.html" %}
{% block content %}
<head>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.js"></script>

</head>
<body>

<H1>Recommended Ski Resorts</H1>
<p style="border: 1px solid black">
<H3>Here are your matches!</H3>
<div>

    <table border=1 cellpadding=7>
            <tr>
                <th>Resort Name</th>
                <th>Country</th>
                <th>Price (USD)</th>

            </tr>
            {% for obj in listdata %}
            <tr>
                <td>{{ obj.ResortName }}</td>
                <td>{{ obj.Country }}</td>
                <td>${{ obj.Adult }}</td>
            </tr>
            {% endfor %}
  </table>

</div>
</p>
<div >
    <p style="border: 1px solid black">
    <H3>Features of your matches:</H3>
    <form action="/recommendations">
    <input type="hidden" id="postId" name="cosinesim" value="{{cosinesim}}">
    <input type="hidden" id="postId" name="resort" value="{{resort}}">
    <input type="hidden" id="postId" name="name_skiresort" value="{{resort}}">


    </select>
    <select name="feature_name">
        {% for feature in feature_names %}
            {% if feature == current_feature_name %}
                <option selected value="{{ feature }}">{{ feature }}</option>
            {% else %}
                <option value="{{ feature }}">{{ feature }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit">
    </form>
</p>
</div>
{{ script|safe }}
{{ div|safe }}

</body>


</html>

{% endblock content  %}
